# Xcode
build/
DerivedData/
*.xcworkspace/xcuserdata/
*.xcuserdatad/
*.xccheckout
*.xcscmblueprint

# Swift Package Manager
.build/

# CocoaPods
Pods/

# Carthage
Carthage/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots

# macOS system files
.DS_Store

# Personal / local files
*.personal.*
*.local.*
